
@import "tailwindcss";

:root{
    

    /* [PL1] FOUNDATIONS */
    --main-white--: hsl(258, 44%, 93%);
    --white-blple--: hsl(221, 32%, 77%);
    --purpluish--: hsl(225, 25%, 65%);
    --bluis--: hsl(220, 74%, 62%);
    --mainblue--: hsl(225, 46%, 44%);
    --gainsbro: hsl(0, 0%, 96%);
    --blue-white: hsl(195, 44%, 86%);
    --color-dark--blue: hsl(225, 15%, 25%);


    /* [PL2]Accueil1 */
    --acc-greena: hsl(84, 39%, 37%);
    --acc-greenb: hsl(82, 56%, 47%);
    --acc-darka: hsl(165, 9%, 15%);
    --acc-darkb: hsl(180, 3%, 29%);
    --acc-darkc: hsl(180, 2%, 43%);



    
    --ptl-greena:#b7efc5;
    --ptl-greenb:#92e6a7;
    --ptl-greenc:#6ede8a;
    --ptl-greend:#2dc653;
    --ptl-greene:#25a244;
    --ptl-greenf:#208b3a;
    --ptl-greeng:#1a7431;
    --ptl-greenh:#155d27;
    --ptl-greenj:#10451d;

    
        /* [PAL2] PALLETA GREEN */
    --pal2-whitea: hsl(60, 7%, 91%);
    --pal2-whiteb: hsl(60, 7%, 91%);
    --pal2-greena: hsl(82, 30%, 62%);
    --pal2-greenb: hsl(120, 100%, 20%);
    
    /* DARK MODE PALLETE */
    --metal-dark1: hsl(0, 2%, 14%);
    --metal-dark2: hsl(0, 1%, 25%);
    --metal-dark3: hsl(0, 0%, 13%);
    --metal-dark4: hsl(240, 2%, 53%);
    --metal-dark5: hsl(0, 0%, 7%);

    /* GRAYS */
    --gray_1--: hsl(0, 0%, 50%);
    --color-jk-dark: hsl(204, 19%, 15%);
    --color-jk-dgray: hsl(210, 100%, 99%);

    /* DARK */
    --dark-variant: hsl(220, 7%, 19%);
    --dark-variantb: hsl(0, 0%, 21%);
    --color-dark-blue: hsl(210, 29%, 15%);


    /* SIGNS */
    --color-danger-a: hsl(355, 100%, 70%);
    --color-danger-b: hsl(355,100%, 85%);
    --color-danger-c:hsl(353, 40%, 90%);
    --color-warning: hsl(35, 80%, 70%);
    --color-success-a: hsl(125, 85%, 60%);
    --color-success-a-soft: hsl(110, 58%, 90%);
    --color-success-c: hsl(160,60%, 70%);
    --color-success-d:hsl(150, 80%, 80%);
    --color-sign-disabled:hsl(0, 0%, 90%);
 

    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
    --shad-dark: rgb(0,0,0);

    --shad-dark-b: rgba(0,0,0,0.7);
    --shad-dark-c: rgba(0,0,0,0.6);
    --shad-dark-d: rgba(0,0,0,0.5);
    --shad-dark-e: rgba(0,0,0,0.4);
    --shad-dark-f: rgba(0,0,0,0.3);
    --shad-dark-g: rgba(0,0,0,0.2);
    --shad-dark-h: rgba(0,0,0,0.1);

    /* 1.618  */
    --fns-default-down-0-6:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default-1:1rem;
    --fns-up2:1.3rem;
    --fns-default-up1-6:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up2-6:2.617rem;
    --fns-default-up4-2:4.23rem;
    --fns-default-up-6-8:6.84rem;
    
        /* 1.618  */
    --dis-0-6:0.618rem;       
    --dis-1:1rem;
    --dis-1:0.8rem;
    --dis-1-3:1.3rem;
    --dis-6:1.618rem;
    --dis-4:2.1rem;
    --dis-2-6:2.617rem;
    --dis-4-2:4.23rem;
    --dis-6-8:6.84rem;

}

@font-face {
    font-family: "Inter Reg";
    src: url("./assets/Fonts/Inter_18pt-Regular.ttf");
}
@font-face {
    font-family: "Inter Reg";
    src: url("./assets/Fonts/Inter_18pt-Medium.ttf");
}

*{
    font-family: 'Inter', sans-serif;
    padding:0rem;
    margin: 0rem;
    color: var(--acc-darkb);
}

::-webkit-scrollbar-track{
    @apply bg-transparent;
}

svg{
    width: var(--fns-default-up1-6);  height:var(--fns-default-up1-6);
    @apply cursor-pointer flex items-center justify-center; 
}

img{
    object-fit: cover;
}
.close_icons{
    @apply rounded-[10px] p-[0.1rem];
}
.close_icons:hover{   
    background-color: var(--pal2-whiteb);
    transition: 0.4s;
}
.modal-icons{
    width:2rem;  height:2rem;
}



body{
    margin: 0rem;
    padding: 0rem;
}
button{
    transition: 0.4s;
}

/* CONTAINER ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */
.down{
   @apply flex flex-col items-center; padding:var(--dis-1-3);
}

.full{
    width: 100%; height: 100%;
}

.card{
    display: flex; align-items: center; justify-content: center;  box-sizing: border-box; border-radius: 10px; 
    box-shadow: 5px 5px 20px 1px var(--shad-alpha-e); overflow: hidden;
    max-width: 80%;    
    width: clamp(300px,80%, 800px);   
    height: 80%;                   
}

.modals{
    @apply flex flex-col items-start justify-around rounded-[10px] bg-white 
    border-2 border-[var(--pal2-whiteb)] ;
    padding:2rem;
}
.half{
    @apply flex items-center h-full w-1/2;
}

.cntr{
    @apply flex items-center justify-center;
}




/* BUTTONS  ================================================================================  */


/* primary button */
.btn-p{
    background-color: var(--ptl-greenb);  
    box-shadow: 0px 5px 10px 1px var(--ptl-greena); border-radius: 10px;
    color: white; cursor:pointer; padding: 0.2rem var(--dis-0-6);
}
    .btn-p p{
        @apply text-white;
    }
.btn-p:hover{
    box-shadow: 0px 5px 20px 1px var(--ptl-greenb);
}


.btn-p-full-s{
    box-shadow: 0px 5px 10px 1px var(--shad-alpha-e); border-radius: 10px;
    color: white; cursor:pointer; padding: 0.2rem var(--dis-0-6); width:100%;
}
.btn-p-full{
    background-color: var(--ptl-greenb); 
    box-shadow: 0px 5px 10px 1px var(--ptl-greena); border-radius: 10px;
    color: white; cursor:pointer; padding: 0.3rem var(--dis-0-6); width: 100%;
}

.btn-p-update{
    background-color:var(--white-blple--);
    box-shadow: 0px 5px 10px 1px var(--white-blple--); border-radius: 10px;
    color: var(--pal2-whitea); cursor:pointer; padding: 0.2rem var(--dis-0-6);
}
    .btn-p-update:hover{
        box-shadow:0px 5px 20px 1px var(--purpluish--);
    }

.btn-p-delete{
    background-color: var(--color-danger-b) ;
    box-shadow: 0px 5px 10px 1px var(--color-danger-b);; border-radius: 10px;
    color: white; cursor:pointer; padding: 0.2rem var(--dis-0-6);
}   
    .btn-p-delete:hover{
        box-shadow:0px 5px 20px 1px var(--color-danger-b);
    }



/*  */
.btn-a{
    @apply bg-[var(--pal2-whiteb)] ;
}
.btn-a-hl{
    background:linear-gradient(to left,var(--pal2-whiteb),var(--ptl-greena)); 
    transition: 0.2s;
}
.btn-h{
    border: 2px solid var(--acc-darkc);
    border-radius: 10px;
    color: var(--acc-darkb);
}
.btn-u{
    border-bottom: 1px solid var(--acc-darkc);
    border-radius: 0px;
}
.bg-p{
    @apply bg-[var(--pal2-whiteb)] p-[0.3rem];
}
.bg-g{
    @apply bg-[var(--ptl-greena)];
}

/* MOBILE BTNS */
.m-btn-p{
    @apply bg-[var(--ptl-greenb)];
}



/* END OF BUTTONS  ================================================================================  *



/* NAVIGATED COMPONENTS */
.nav-com{
    @apply bg-[var(--pal2-whiteb)];
    box-shadow: 5px 5px 10px 1px var(--shad-alpha-d);
}   
/* profiles*/
.profile-img{
    @apply rounded-full w-[2.5rem] h-auto border-[1px] border-[var(--acc-darkc)];
    margin: 0rem 1rem;
}

/* END OF NAVIGATED COMPONENTS */



/* TEXT AND TITLES ================================================================== */
.title{
    font-size: var(--fns-default-up1-6); font-weight: 600; color:var(--acc-dark);
}
.form-title{
     font-size: var(--fns-default-up1-6); font-weight: 600; color:var(--acc-dark);
}
.table_title{
     font-size: var(--fns-default-up1-3); 
}
.descrp{
    font-size: var(--fns-down-1); color:var(--acc-darkc); 
}
.t-p{
    color:var(--acc-darkb);
    font-size: var(--fns-down-1);
}
.t-s{ color:var(--acc-darka);}
.t-gray{
    color:gray;
}

.text_box .text:nth-child(2){
    margin-top: var(--dis-0-6);  
}
/* TEXT AND TITLES ================================================================== */



/* SUCCESS MESSAGE! */
.form-svg{
    position: absolute;
    right:1%;
    top:28%;
}


.formMsg_box{
    @apply flex items-center justify-start w-[85%];
    margin: var(--dis-0-6) 0rem;
}
    .formMsg_box .formMsg{
        font-size: var(--fns-down-1); padding:0.1rem var(--dis-0-6);  ;border-radius: 8px;
        width: 100%;
    }
    .errMsg{padding:0.1rem var(--dis-0-6);  ;border-radius: 8px; background: var(--color-danger-c);  width: 85;}
    
    .formMsg_box.successMsgBox{
        margin-top: 1rem;
    }
    .formMsg_box .succMsg {
        border: 1px solid var(--color-success-a);
        background-color: var(--color-success-a-soft); display: flex; justify-content: center; padding: var(--dis-0-6) var(--dis-1);
}

.error-txt{
    @apply text-[0.8rem] pointer-events-none z-10 bg-white 
    absolute left-[40%] bottom-[-30%] text-[var(--color-danger-a)];
    padding: 0rem var(--dis-0-6); 
}
.error-nav-txt{
      @apply text-[0.8rem] pointer-events-none z-10 bg-white 
      bottom-0 text-[var(--color-danger-a)];
      padding: 0rem var(--dis-0-6);
}



/* FORM CONTAINERS */
.form_box{
    @apply flex flex-col items-center justify-center relative w-[85%];
    margin: 1rem 0rem;
}
.form-inp{
    @apply w-full; padding:0.2rem 1.8rem 0.2rem  var(--dis-0-6); 
    border-radius: 10px; border: 2px solid var(--acc-darkc); 
    position: relative;
}
.form_box label{
    @apply pointer-events-none left-[2%] bg-white;
    transition: ease 0.4s; padding: 0rem var(--dis-0-6);
    position: absolute; font-size: var(--fns-down-1); color:var(--acc-darkc);
}
.form_box input:focus ~ label,
.form_box input:not(:placeholder-shown) ~ label{
    transform: translateY(-100%); font-size: var(--fns-default-down-0-6);
}




select{
    @apply rounded-[10px];
}






/* imgs */
.bushes{
    width: 40%;
    height: auto;
    filter: drop-shadow(5px 5px 15px var(--shad-alpha));
}

/* marin 0.6 */
.m-r-6{margin-right:0.6rem};
.m-l--6{margin-left:0.6rem}
.m-x-6{ margin: 0rem 0.6rem}

/* margin 1 */
.m-x{ margin: 0rem 1rem; } .m-y{ margin:1rem 0rem} .m-t{ margin-top:1rem; }; .m-1{margin:1rem} 
.m-x-0-6{margin:0rem var(--dis-0-6)};
.m-r-0-6{margin:0rem var(--dis-0-6)}

/* margin 2 */
.m-x-2{margin: 0rem 2rem}; .m-y-2{ margin:2rem 0rem} .m-t-2{ margin-top:2rem; }; .m-1-2{margin:2rem} 


.p-x{ padding: 0rem 1rem; } .p-t{ padding: 1rem 0rem}; .p-1{ padding:1rem} 
.p-0-6{padding:var(--dis-0-6)};
.p-h-0-6{ padding:0.2rem var(--dis-0-6)};


.viewer_color{
    background-color:hsl(0, 0%, 90%);
    border-radius:10px;
    padding: 0.1rem 0.3rem;
}
.admin_color{
    background-color: var(--color-warning-c);
    border-radius:10px;
    padding: 0.1rem 0.3rem;
}
.owner_color{
    background-color: var(--color-danger-c);
    border-radius:10px;
    padding: 0.1rem 0.3rem;
}