
@import "tailwindcss";

:root{

    

    /* [PL1] FOUNDATIONS */
    --main-white--: hsl(258, 44%, 93%);
    --white-blple--: hsl(221, 32%, 77%);
    --purpluish--: hsl(225, 25%, 65%);
    --bluis--: hsl(220, 74%, 62%);
    --mainblue--: hsl(225, 46%, 44%);
    --gainsbro: hsl(0, 0%, 96%);
    --blue-white: hsl(195, 44%, 86%);
    --color-dark--blue: hsl(225, 15%, 25%);


        /* [PL2]Accueil1 */
    --acc-greena: hsl(84, 39%, 37%);
    --acc-greenb: hsl(82, 56%, 47%);
    --acc-darka: hsl(165, 9%, 15%);
    --acc-darkb: hsl(180, 3%, 29%);
    --acc-darkc: hsl(180, 2%, 43%);


    
    --ptl-greena:#b7efc5;
    --ptl-greenb:#92e6a7;
    --ptl-greenc:#6ede8a;
    --ptl-greend:#2dc653;
    --ptl-greene:#25a244;
    --ptl-greenf:#208b3a;
    --ptl-greeng:#1a7431;
    --ptl-greenh:#155d27;
    --ptl-greenj:#10451d;

    
        /* [PAL2] PALLETA GREEN */
    --pal2-whitea: hsl(60, 7%, 91%);
    --pal2-whiteb: hsl(60, 7%, 91%);
    --pal2-greena: hsl(82, 30%, 62%);
    --pal2-greenb: hsl(120, 100%, 20%);
    
    /* DARK MODE PALLETE */
    --metal-dark1: hsl(0, 2%, 14%);
    --metal-dark2: hsl(0, 1%, 25%);
    --metal-dark3: hsl(0, 0%, 13%);
    --metal-dark4: hsl(240, 2%, 53%);
    --metal-dark5: hsl(0, 0%, 7%);

    /* GRAYS */
    --gray_1--: hsl(0, 0%, 50%);
    --color-jk-dark: hsl(204, 19%, 15%);
    --color-jk-dgray: hsl(210, 100%, 99%);

    /* DARK */
    --dark-variant: hsl(220, 7%, 19%);
    --dark-variantb: hsl(0, 0%, 21%);
    --color-dark-blue: hsl(210, 29%, 15%);


    /* SIGNS */
    --color-danger-a: hsl(355, 100%, 70%);
    --color-danger-b: hsl(355,100%, 85%);
    --color-danger-c:hsl(353, 40%, 90%);
    --color-warning: hsl(35, 80%, 70%);
    --color-success-a: hsl(125, 85%, 60%);
    --color-success-a-soft: hsl(110, 58%, 90%);
    --color-success-c: hsl(160,60%, 70%);
    --color-success-d:hsl(150, 80%, 80%);
 

    /* SHADOWS */
    --shad-alpha: rgba(53,53,53,0.5);
    --shad-alpha-b: rgba(53,53,53,0.4);
    --shad-alpha-c: rgba(53,53,53,0.3);
    --shad-alpha-d: rgba(53,53,53,0.2);
    --shad-alpha-e: rgba(53,53,53,0.1);
    
    --shad-dark: rgb(0,0,0);

    --shad-dark-b: rgba(0,0,0,0.7);
    --shad-dark-c: rgba(0,0,0,0.6);
    --shad-dark-d: rgba(0,0,0,0.5);
    --shad-dark-e: rgba(0,0,0,0.4);
    --shad-dark-f: rgba(0,0,0,0.3);
    --shad-dark-g: rgba(0,0,0,0.2);
    --shad-dark-h: rgba(0,0,0,0.1);

    /* 1.618  */
    --fns-default-down-0-6:0.618rem;
    --fns-down-1:0.8rem;
    --fns-default-1:1rem;
    --fns-up2:1.3rem;
    --fns-default-up1-6:1.618rem;
    --fns-up4:2.1rem;
    --fns-default-up2-6:2.617rem;
    --fns-default-up4-2:4.23rem;
    --fns-default-up-6-8:6.84rem;
    
        /* 1.618  */
    --dis-0-6:0.618rem;       
    --dis-1:1rem;
    --dis-1:0.8rem;
    --dis-1-3:1.3rem;
    --dis-6:1.618rem;
    --dis-4:2.1rem;
    --dis-2-6:2.617rem;
    --dis-4-2:4.23rem;
    --dis-6-8:6.84rem;

}

@font-face {
    font-family: "Inter Reg";
    src: url("./assets/Fonts/Inter_18pt-Regular.ttf");
}
@font-face {
    font-family: "Inter Reg";
    src: url("./assets/Fonts/Inter_18pt-Medium.ttf");
}

*{
    font-family: 'Inter', sans-serif;
    padding:0rem;
    margin: 0rem;
    color: var(--acc-darkb);
  
}


svg{
    width: var(--fns-default-up1-6);  height:var(--fns-default-up1-6);
    cursor: pointer;
}

body{
    margin: 0rem;
    padding: 0rem;
}




.down{
   @apply flex flex-col items-center; padding:var(--dis-1-3);
}

.full{
    width: 100%; height: 100%;
}

.card{
    display: flex; align-items: center; justify-content: center;  box-sizing: border-box; border-radius: 10px; 
    box-shadow: 5px 5px 20px 1px var(--shad-alpha-e); overflow: hidden;
    max-width: 80%;    
    width: clamp(300px,80%, 800px);   
    height: 80%;                   
}

.modals{
    @apply flex flex-col items-start justify-around rounded-[10px] bg-white 
    border-2 border-[var(--pal2-whiteb)] ;
    padding:2rem;
}
.half{
    @apply flex items-center h-full w-1/2;
}



/* BUTTONS  ================================================================================  */

.btn-p{
    background-color: var(--ptl-greenb);  box-shadow: 0px 5px 10px 1px var(--shad-alpha-e); border-radius: 10px;
    color: var(--main-white--); cursor:pointer; padding: 0.2rem var(--dis-0-6);
}
.btn-p-full{
    background-color: var(--ptl-greenb); box-shadow: 0px 5px 10px 1px var(--shad-alpha-d); border-radius: 10px;
    color: var(--main-white--); cursor:pointer; padding: 0.3rem var(--dis-0-6); width: 100%;
}

.btn-a{
    @apply bg-[var(--pal2-whiteb)] ;
}
.btn-a-hl{
    background:linear-gradient(to left,var(--pal2-whiteb),var(--ptl-greena)); 
    transition: 0.2s;
}

.btn-animate{
    background-color: red;
    transition:0.2s;
}


.btn-h{
    border: 2px solid var(--acc-darkc);
    border-radius: 10px;
    color: var(--acc-darkb);
}
.btn-u{
    border-bottom: 1px solid var(--acc-darkc);
    border-radius: 0px;
}



/* profiles*/
.profile-img{
    @apply rounded-full w-[2.5rem] h-auto border-[1px] border-[var(--acc-darkc)];
    margin: 0rem 1rem;
}




/* texts ================================================================================ */
.title{
    font-size: var(--fns-default-up1-6); font-weight: 600; color:var(--acc-dark);
}
.form-title{
     font-size: var(--fns-default-up1-6); font-weight: 600; color:var(--acc-dark);
}
.table_title{
     font-size: var(--fns-default-up1-3); 
}
.descrp{
    font-size: var(--fns-down-1); color:var(--acc-darkc); 
}




/* imgs */
.bushes{
    width: 40%;
    height: auto;
    filter: drop-shadow(5px 5px 15px var(--shad-alpha));
}



.m-x{   margin: 0rem 1rem; } .m-t{ margin: 1rem 0rem; }; .m-1{margin:1rem} 
.p-x{   padding: 0rem 1rem; } .p-t{ padding: 1rem 0rem}; .p-1{padding:1rem} 
